.App {
  text-align: center;
}

*{
  /* background-color: rgb(90, 95, 105);
  color: white; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.redirect{
  text-decoration: none;
}

div{
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #loginForm{
  width: 50%;
} */

.form-control{
  width: 30%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

#navbar{
  position: sticky;
  top: 0rem;
  z-index: +1;
  /* margin: auto; */
  /* padding-left: 10rem ; */
  /* margin-bottom: 1rem; */
  background-color: rgb(191, 191, 191);
  box-sizing: content-box;
  width: 100%;
  height: 2rem;
  /* border: solid rgb(255, 255, 255); */
  padding: 1rem 0 1rem 0;
  /* border-radius: 1.5rem; */
}

.navButton{
  text-decoration: none;
  color: black;
  padding: 1rem;
  /* width: 30%; */
  margin: auto;
  transition-duration: 300ms;
}

.navButton:hover {
  color: red;
  padding: 1rem;
  transform: scale(1.5);
}

#partCardsDiv { 
  /* justify-content: center; */
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 23vw);
  grid-gap: 1rem;
  grid-auto-rows: minmax(3rem, auto);
}

.partCardImage {
  /* width: 100%; */
  height: 10vw;
}
.partCardName {
  font-size: 2.5vw;
  /* width: 100%; */
  text-decoration: none;
  color:rgb(62, 62, 62)
}

.partCardType {
  font-size: 1.5vw;
  /* width: 100%; */
  text-decoration: none;
  color:rgb(136, 136, 136)
}

#buildCardsDiv { 
  padding: 1rem;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(3rem, auto);
}

.buildCardImage {
  height: 30vw;
  border-radius: 1rem;
}
.buildCardName {
  font-size: 3vw;
  /* width: 100%; */
}

.partImageDetail{
  width: 50%;
}

.buildImageDetail{
  width: 80%;
}

.listDiv{
  width: auto;
  border: none rgb(0, 0, 0) 0.05rem;
  padding: .5rem;
  border-radius: .25rem;
  box-shadow: 2px 2px 2px 1px #dfdfdf;
  transition-duration: 600ms;
}

.listDiv:hover{
  width: auto;
  border: solid rgb(222, 222, 222) 0.05rem;
  padding: .5rem;
  border-radius: .25rem;
  box-shadow: 2px 2px 2px 1px #677dff;
  /* transform: scale(1.02); */
}

.error{
  color: red;
  font-size: smaller;
}

.loginButton{
  border: solid rgb(69, 182, 63) 0.25rem;
  border-radius: .75rem ;
  padding: 0.2rem;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(70, 70, 70);
  margin: 1rem;
  width: 10rem;
  height: 2.5rem;
}
.loginButton:active{
  background-color: rgb(70, 70, 70);
}

/* .loginButton:onClick{
  
} */

#logOutBtn{
  border: solid rgb(255, 120, 120) 0.25rem;
}

#signUpBtn{
  border: solid rgb(60, 82, 254) 0.25rem;
  width: 100%;
  height: 100%;
  border-radius: .75rem ;
  padding: 0.3rem;
  /* font-size: 1rem; */
  text-decoration: none;
  color: rgb(70, 70, 70);
}

#signUpBtnDiv{
  /* padding: 1.5rem; */
  justify-content: center;
  height: 5rem;
  margin: 1.5rem;
}

#build_detail_parts{
  justify-content: center;
  padding: 1rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(3rem, auto);
}

.xBtn{
  width: 2rem;
  height: 2rem;
  padding: .25rem;
  margin: .25rem;
  /* display: inline-block; */
  /* justify-content:right; */
}

.mapInsert{
  justify-content: center;
  padding: 1vw;
  margin: 1vw;
}

.btn{
  width: 18vw;
  height: 8vw;
  /* padding: 3vw; */
  margin: 3vw;
  box-shadow: ;
  box-shadow: 2px 2px 2px 1px #dfdfdf;
  color:rgb(123, 123, 123);
  font-size: 1.75vw;
  border-radius: 1vw;
  /* text-decoration: none; */
}

.btn:hover{
  background-color: rgb(81, 130, 255);
  color: white;
  box-shadow: 2px 2px 2px 1px #dcffcb;

}
.btn:active{
  background-color: rgb(32, 75, 184);
}

.btnLink{
  text-decoration: none;
  color:rgb(123, 123, 123);
}
.btnLink:hover{
  color: white;
}