.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar{
  padding: 1rem;
  margin: auto;
}

.navButton{
  text-decoration: none;
  color: black;
  padding: 1rem;
  /* width: 30%; */
  margin: auto;
  transition-duration: 300ms;
}

.navButton:hover {
  color: red;
  padding: 1rem;
  transform: scale(1.5);
}

#partCardsDiv { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(3rem, auto);
}

.partImage {
  width: 15rem;
}